@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

@media (min-width:601px) {
  .navbar-menu {
    display: inline;
    font-size: 2rem;
    color:#CBE1FF;
    background: #123A4D;
    padding: 10px 20px;
    border-radius: 10px;
    border-color:#93A2B8;
    margin: 0.5em;
}
 .navbar-burger{
  display: none;
}
}

@media (max-width:600px) {
  .navbar-menu{
  display: none;
}
 .navbar-burger{
        display: inline;
        font-size: 2rem;
        color: #CBE1FF;
        background: #123A4D;
        padding: 10px 20px;
        border-radius: 10px;
        border-color: #93A2B8;
        margin: 0.5em;
    }
}
